/* Communs */
body, *{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin: 0;
}
li {
    list-style: none;
}
a, a:hover {
    text-decoration: none;
    color: #FFF;
}
.container {
    max-width: 1366px;
    margin: 0 auto;
}
.d-flex {
    display: flex;
}
.d-column {
  flex-direction: column;
}

.align-items-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

a.readmore {
    background-color: #9F63F2;
    text-transform: uppercase;
    color: #fff;
}
.bg-grey {
    background-color: #F7F7F7;
}

.logo {
  font-weight: 900;
  font-size: 40px;
}

.contact {
  border-radius: 7px;
  padding: 15px;
  background-color: #9F63F2;
  color: white;
}

.prez-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prez {
  font-size: 25px;
  padding: 10px;
}

.lorem {
  padding: 30px;
}

.text a {
  font-weight: 600;
  padding-left: 30px;
}

.page {
  padding-top: 170px;
}

.favorite-toys {
  background-color: rgb(240,240,250);
}

.favorite-toys h2 {
  padding: 10px;
}

.toys-list {
  width: 100%;
  padding: 50px;
}

.toy {
  background-color: white;
  box-shadow: 0px 0px 4px rgb(220,220,220);
  border-radius: 5px;
}


/* Header */
header {
    position: fixed;
    width: 100%;
    background-color: white;
    padding: 30px 0;
    box-shadow: 0px 2px 4px rgb(230,230,230);
}
header nav li {
    margin: 0 10px;
    font-weight: bold;
}


/* Présentation */
.presentation {
  padding: 130px;
}

section.presentation div.text {
    background-color: #9F63F2;
    color: #fff;
    padding: 40px;
    width: 500px;
    border-radius: 30px;
}

/* Footer*/
footer {
    text-align: center;
    background-color: #9F63F2;
    color: #fff;
    padding: 20px 0;
}
