.btnTopLink {
    position: fixed;
    bottom: 50px;
    right: 50px;

    background-color: $purple;
    padding: 10px;
    border: none;
    color: #FFF;

    &:hover {
        opacity: 0.8;
    }
}