.contact-section {
    background-color: $grey;
}

.contact-content {
    width: 60%;
}

.contact-item {
    padding: 10px;
    
    p {
        font-weight: bold;
        font-size: 20px;
        @extend .f-center;
    }

    .icon {
        width: 50px;
        font-size: 25px;
        color: $purple;
    }
}

.ness-contact {
    width: 120px;
}

@media screen and (max-width: 821px) {
    .contact-content {
        width: 100vw;
    }

    .ness-contact-div {
        display: none;
    }

    .ness-contact {
        position: absolute;
        bottom: 100px;
        right: 50px;
        width: 50px;
    }

    .icon {
        width: 20px !important;
        margin-right: 10px;
    }
}