.favorite-toys {
    background-color: $grey;
}

.toy-list {
    width: 60%;
    padding-bottom: 40px;

    @extend .f-between;
}

@media screen and (max-width: 821px) {
    .toy-list {
        width: 100vw;
        flex-wrap: wrap;
        justify-content: center;
    }
}