.footer {
    background-color: $purple;
    color: #FFF;
    font-size: 25px;
    padding: 40px 0;
}

hr {
    margin: 10px;
    width: 40px;
    border: none;
    height: 3px;
    background-color: #FFF;
}