.header {
    position: fixed;
    width: 100vw;
    background-color: #FFF;
    box-shadow: 0 2px 4px $shadow1;
    padding: 35px;
    z-index: 1;

    @extend .f-center;
}

.small-header {
    @extend .header;
    padding: 15px 35px;
}

.header h1 {
    padding: 0 50px;
}

@media screen and (max-width: 821px) {
    .header {
        justify-content: space-between;
        padding: 20px;
        height: 50px;
    }

    .header h1 {
        font-size: 6vw;
        padding: 0 10px;
    }
}