.navigation {
    @extend .f-row;
}

.li-nav {
    padding: 20px;
}

.small-nav{
    display: none;
}


@media screen and (max-width: 821px) {
    .nav-content-off {
        display: none;
    }

    .nav-content-on {
        display: block;
    }
    .navigation { 
        position: fixed;
        background-color: #FFF;
        width: 100vw;
        top: 50px;
        left: 0;
        text-align: center;
        font-size: 18px;
    }

    ul {
        padding: 0;
    }

    .small-nav {
        display: block !important;
        font-size: 25px;
    }

    .contact-btn, .li-nav {
        width: 100vw;
        border-radius: 0;
    }

}