.cat-list {
    width: 80%;
}

.cat-div {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 10px;
}

.cat-name {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 25px;
    font-weight: bold;
    color: rgba(0,0,0,0);
    @extend .f-center;


    &:hover {
        color: white;
        background-color: rgba(0,0,0,0.5);
    }
}

.cat {
    width: 300px;
}