.prez-section {
    padding: 250px 0 150px 0;
}

.presentation {
    background-color: $purple;
    color: #FFF;
    width: 500px;
    border-radius: 15px;
    margin-left: 10vw;    
}

.prez-img {
    width: 270px;
}

.prez-title {
    padding: 50px 0 0 0;

    @extend .f-col;
    @extend .f-center; 

    h2 {
        margin: 0 0 10px;
    }
}

.prez-text {
    padding: 50px;
}

@media screen and (max-width: 821px) {
    .presentation {
        width: 90vw;
        margin: 0;
    }
    .prez-section {
        padding: 100px 0 50px 0;
    }
    .div-img {
        width: 0vw;
    }
    .prez-img {
        position: relative;
        left: 30px;
        top: -130px;
        width: 100px;
        // z-index: 1;
    }
}