.toy-card {
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 8px $shadow1;
    margin: 5px;
    width: 220px;
    height: 300px;
    padding: 25px 35px;
    text-align: center;
    img {
        width: 100%;
    }
}

.toy-title {
    color: $purple;
    // font-weight: 600;
    font-size: 25px;
    padding: 5px;
}

.toy-description {
    text-align: center;
    font-size: 13px;
}

.toy-img-content {
    height: 60%;
    @extend .f-center;
}