
.f-row {
    display: flex !important;
    flex-wrap: wrap;
}

.f-col {
    display: flex;
    flex-direction: column;
}

.f-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-between {
    display: flex;
    justify-content: space-between;
}

.f-around {
    display: flex;
    justify-content: space-around;
    // align-items: center;
}

.f-justify {
    display: flex;
    justify-content: center;
}

.f-align {
    display: flex;
    align-items: center;
}

.f-end {
    display: flex;
    justify-content: flex-end;
}

.f-wrap {
    flex-wrap: wrap;
}