.container {
    max-width: 1366px;
    margin: 0 auto;
}

section {
    padding-bottom: 40px;

    h2 {
        margin: 40px 10px;
    }

    hr {
        background-color: $purple;
        width: 150px;
        height: 2px;
    }
}

@media screen and (max-width: 821px) {
    h2 {
        font-size: 22px;
        margin: 40px 5px !important;
    }
    hr {
        width: 40px !important;
        height: 5px;
    }
}