$shadow1: rgb(235,235,235);
$purple: #9F63F2;
$grey: rgb(245, 245, 255);

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 40px;
    font-weight: 910;
}

li {
    list-style: none;
    font-weight: bold;
}

a, a:hover {
    text-decoration: none;
    color: #000;
}

.pointer {
    cursor: pointer;
}

.test {
    border: 1px solid red;
}

.button {
    background-color: $purple;
    color: #FFF;
    padding: 15px;
    border-radius: 5px;

    &:hover {
        color: #FFF;
    }
}

.hidden {
    display: none;
}